<footer class="footer">
	<nav class="navbar navbar-light bg-light">
		<ul class="navbar-nav col-lg-3 col-md-3 col-12">
			{% set snippets = sulu_snippet_load_by_area('default') %}
			{% if snippets %}
				{% for block in snippets.content.block %}
					{% if block.type == 'contact_links' %}
						<li class="nav-item">
							{% include 'includes/blocks/social_media_block.html.twig' with {block: block} %}
						</li>
					{% endif %}
				{% endfor %}
			{% endif %}
		</ul>
		<ul class="navbar-nav col-lg-3 col-md-3 col-12">
			{% if snippets %}
				{% for block in snippets.content.block %}
					{% if block.type == 'social_media' %}
						<li class="nav-item">
							{% include 'includes/blocks/social_media_block.html.twig' with {block: block} %}
						</li>
					{% endif %}
				{% endfor %}
			{% endif %}
		</ul>
		<ul class="navbar-nav col-lg-3 col-md-3 col-12">
			{% for item in sulu_navigation_root_tree('footer') %}
				{% set item_path=sulu_content_path(item.url) %}
				<li class="nav-item">					
					<a href="{{ item_path }}" title="{{ item.title }}" class="nav-link">
						<i class="fa fa-angle-right"></i>&nbsp;{{ item.title }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
</footer>
