<header class="container">
	<a href="/">
		<h1 lang="{{ request.defaultLocale }}" class="m-t-40 m-b-30">
			<img
				src="{{ asset('/assets/images/logo.png') }}"
				srcset="{{ asset('/assets/images/logo-146.png') }} 146w,
								{{ asset('/assets/images/logo-216.png') }} 216w,
								{{ asset('/assets/images/logo-292.png') }} 292w,
								{{ asset('/assets/images/logo-432.png') }} 432w,
								{{ asset('/assets/images/logo-438.png') }} 438w,
								{{ asset('/assets/images/logo-648.png') }} 648w"
				sizes="(min-width: 768px) 216px, 146px"
				alt="Tour de Planet"
				role="presentation"
			/>
			<span class="sr-only">Tour de Planet - move for climate</span>
		</h1>
	</a>
</header>
