<ul class="nav-main-lang-list container">
  {% for locale, url in urls %}
    {% set extra="/"~request.defaultLocale %}
    {%
      set contentPath = sulu_content_path((
        url|replace(
          {(extra): ""})?:'/'),
            request.webspaceKey,locale
        )
    %}
    <li class="nav-main-lang-item">
      <a
        href="{{ contentPath }}"
        {% if request.resourceLocatorPrefix is same as('/'~ locale)  %}
            class="btn btn-sm nav-main-lang-link type-cta btn-outline-primary"
        {% else %}
            class="btn btn-sm nav-main-lang-link type-cta-contrast btn-primary"
        {% endif %}
        data-locale="{{ locale }}"
      >
        {{ locale|upper }}
      </a>
    </li>
  {% endfor %}
</ul>