body {
  background: #000 url("../../images/background-mobile.jpg") top center no-repeat fixed;
  background-size: 768px;
}

@media screen and (min-width: 768px) {
  body {
    background-image: url("../../images/background-desktop.jpg");
    background-size: 2000px;
  }
}

.read-more-link::before {
  content: '» ';
}

footer > ul {
  padding: 0;
}