{% set collg = collg|default(block.collg|default(12)) %}
{% set colmd = colmd|default(block.colmd|default(12)) %}
{% set col = col|default(block.col|default(12)) %}

{% set off_lg = off_lg|default(block.off_lg|default(12)) %}
{% set off_md = off_md|default(block.off_md|default(12)) %}
{% set off = off|default(block.off|default(12)) %}

{% set space = block.space|default(4) %}
{% set mb = mb|default(block.mb|default(10)) %}
{% set mt = mt|default(block.mt|default(10)) %}

{% set class = '' %}
{% if collg is not empty and collg is not same as('None') %}{% set class = class ~ ' col-lg-' ~ collg %}{% endif %}
{% if colmd is not empty and colmd is not same as('None') %}{% set class = class ~ ' col-md-' ~ colmd %}{% endif %}
{% if col is not empty and col is not same as('None') %}{% set class = class ~ ' col-' ~ col %}{% elseif col is same as('None') %}{% set class = class ~ ' col' %}{% endif %}

{% if off_lg is not empty and off_lg is not same as('None') %}{% set class = class ~ ' offset-lg-' ~ off_lg %}{% endif %}
{% if off_md is not empty and off_md is not same as('None') %}{% set class = class ~ ' offset-md-' ~ off_md %}{% endif %}
{% if off is not empty and off is not same as('None') %}{% set class = class ~ ' offset-' ~ off %}{% endif %}

{% if mb is not empty and mb is not same as(0) %}{% set class = class ~ ' m-b-' ~ mb %}{% endif %}
{% if mt is not empty and mt is not same as(0) %}{% set class = class ~ ' m-t-' ~ mt %}{% endif %}

<div class="{{ class }}">