<div class="row">
    {% set teaserImage = sulu_resolve_media(block.mediaId, app.request.locale) %}
    {% if teaserImage %}
        {% set imageUrl = imageUrl|default(block.url|default()) %}
        {% set imageTitle = imageTitle|default(block.title|default()) %}
        {% include 'includes/blocks/inner/image_block.html.twig' with {imageUrl: imageUrl, image: teaserImage, imageTitle: imageTitle} %}
    {% endif %}
</div>
<div class="article-teaser m-b-30">
    <div class="row">
        <div class="col">
            {% set title = title|default(block.title|default()) %}
            {% set url = url|default(block.url|default()) %}
            {% include 'includes/blocks/inner/title_block.html.twig' with {text: title, url: url, size: 2, class: 'type-title m-t-20 m-b-20'} %}
            {{ block.description | replace({'<p>': '<p class="type-regular m-t-20 m-b-20">'}) | raw }}
            <a href="{{ url }}" class="read-more-link type-headline">{% trans %}label.learn_more{% endtrans %}</a>
        </div>
    </div>
</div>