[global]
error_log = /proc/self/fd/2
log_level = warn
daemonize = no

[www]
group = {{ .Env.SYSTEM_APPUSER_NAME }}
user = {{ .Env.SYSTEM_APPUSER_NAME }}

listen = /var/run/php-fpm-www.sock
listen.owner = {{ .Env.SYSTEM_APPUSER_NAME }}
listen.group = {{ .Env.SYSTEM_APPUSER_NAME }}

pm = dynamic
pm.max_children = {{ default .Env.PHPFPM_PM_MAX_CHILDREN "20" }}
pm.min_spare_servers = {{ default .Env.PHPFPM_PM_MIN_SPARE_SERVERS "1" }}
pm.max_spare_servers = {{ default .Env.PHPFPM_PM_MAX_SPARE_SERVERS "3" }}
pm.max_requests = {{ default .Env.PHPFPM_PM_MAX_REQUESTS "500" }}

chdir = /
clear_env = no
catch_workers_output = yes
php_admin_value[session.save_path]="tcp://{{ default .Env.REDIS_HOST "127.0.0.1" }}:{{ default .Env.REDIS_PORT "6379" }}?auth={{ default .Env.REDIS_PASSWORD "password" }}"
