body[data-nav-open='true'] {
  overflow: hidden;
}

.nav-main {
  position: relative;
  z-index: 1;
}

#nav-main-btn {
  position: absolute;
  top: -20px;
  right: 0;
  z-index: 2;
  background: none;
  border: none;
  padding: 0 4px;
  margin: 0 -4px;
}

#tdp-flyout-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow: auto;
  backdrop-filter: blur(3px);
  transition: backdrop-filter 0.5s;

  body[data-nav-open="false"] & {
    backdrop-filter: blur(0);
  }

  #nav-main-btn[aria-expanded="true"] + & {
    display: none;
  }
}

.nav-main-btn-line {
  width: 25px;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
  margin: 4px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 6px;
  transition-property: background-color, transform, opacity;
  transition-duration: 0.5s;
  transform-origin: center;

  #nav-main-btn[aria-expanded="true"] & {
    background-color: #000;
    box-shadow: none;

    &.nmbl-1 {
      transform: rotate(45deg) translate(4px, 4px);
    }

    &.nmbl-2 {
      opacity: 0;
    }

    &.nmbl-3 {
      transform: rotate(-45deg) translate(4px, -4px);
    }
  }
}

.nav-main-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 480px;
  min-height: 100vh;
  padding-top: 80px;
  background: rgba(255, 255, 255, 0.95);
  transition: right 0.3s;

  body[data-nav-open='false'] & {
    right: -480px;
    right: max(-100%, -480px);
  }
}

.nav-main-lang-list {
  list-style: none;
  margin: 0 0 30px 0;
}

.nav-main-lang-link {
  &[data-locale='de']::before {
    content: '🇩🇪';
  }
  
  &[data-locale='en']::before {
    content: '🇬🇧';
  }
  
  &[data-locale='fr']::before {
    content: '🇫🇷';
  }
  
  &[data-locale='pl']::before {
    content: '🇵🇱';
  }
}

.nav-main-lang-item {
  display: inline-block;
  margin-right: 3px;
}

.nav-main-menu-list {
  list-style: none;
  margin: 0;
}

.nav-main-menu-item {
  padding-right: 25px;
}

.nav-main-menu-sub-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-main-menu-link {
  display: block;
  margin-bottom: 15px;
}

.nav-main-menu-sub-link {
  display: block;
  padding-left: 15px;
  margin-bottom: 15px;
}