{% extends 'base.html.twig' %}

{% block main %}
	<div class="container bg-w">
		<div class="row">
			<div class="col">
				<h2 class="type-title m-b-20 m-t-20">
					<span>{{ content.title }}</span>
				</h2>
				{{ content.intro|raw }}
			</div>
		</div>
		{% for block in content.articles %}
			{% include 'includes/blocks/inner/teaser_block.html.twig' %}
		{% endfor %}		
	</div>
{% endblock %}
