<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title></title>
    <style type="text/css">
       
    </style>
    <style type="text/css">
       
    </style>
</head>
<body style="Margin: 0; padding: 0; background-color: #ffffff; color: #919191;" vlink="#cccccc" text="#919191" bgcolor="#ffffff" alink="#cccccc">

<h3>Bestätitige die Anfrage für den Newsletter von der Tour de Planet</h3>
<p>
    Zum Bestätitigen Klicke auf folgenden Link: <br />
    <a target="_new" href="{{ url('campaign_verification', {'token': token}) }}">
        Newsletter bestätitigen
    </a>
</p>
</body>
</html>