{% for teaser in block.articles %}
	{% if block.is_grid_item %}
		{% include 'includes/blocks/inner/grid_item_open.html.twig' %}
	{% endif %}
		{% include 'includes/blocks/inner/teaser_block.html.twig' with {block: teaser} %}
	{% if block.is_grid_item %}
		{% include 'includes/blocks/inner/grid_item_close.html.twig' %}
	{% endif %}
{% endfor %}