{% if block.is_grid_item %}
	{% include 'includes/blocks/inner/grid_item_open.html.twig' %}
{% endif %}
	<div class="card">
		{% if block.title %}
			{% set title = title|default(block.title|default()) %}
			{% set url = url|default(block.url|default()) %}
			<div class="card-header">
				{% include 'includes/blocks/inner/title_block.html.twig' with {text: title, url: url} %}
			</div>
		{% endif %}
		{% if block.image %}
			{% set imageUrl = imageUrl|default(block.url|default()) %}
			{% set imageTitle = imageTitle|default(block.title|default()) %}
			{% set imageSrc = imageSrc|default(block.image.thumbnails['800x400']|default()) %}
			{% set size = size|default(block.size|default(3)) %}
			{% include 'includes/blocks/inner/title_block.html.twig' with {imageUrl: imageUrl, imageSrc: imageSrc, imageTitle: imageTitle, class: 'card-imag-top', size: size} %}
		{% endif %}
		{% if block.source %}
			<div class="card-footer">
				<p>
					<small>{% trans %}Source{% endtrans %}:
						<a href="{{ block.source }}" target="_blank">{{ block.source }}</a>
					</small>
				</p>
			</div>
		{% endif %}
	</div>
{% if block.is_grid_item %}
	{% include 'includes/blocks/inner/grid_item_close.html.twig' %}
{% endif %}	
