{% if block.is_grid_item %}
	{% include 'includes/blocks/inner/grid_item_open.html.twig' %}
{% endif %}
	{% if block.title is defined and block.title is not empty %}
		{% set title = title|default(block.title|default()) %}
		{% set url = url|default(block.url|default()) %}
		{% set size = size|default(block.title_tag_size|default(3)) %}
		{% set class = class|default(block.title_tag_class|default(3)) %}
		{% include 'includes/blocks/inner/title_block.html.twig' with {text: title, url: url, size: size, class: class} %}
	{% endif %}
	{% set text = text|default(block.text|default()) %}
	{% set body = body|default(block.body|default()) %}
	{% set classP = classP|default(block.text_tag_class|default()) %}
	{% include 'includes/blocks/inner/text_block.html.twig' with {text: text, body: body, class: classP} %}
{% if block.is_grid_item %}
	{% include 'includes/blocks/inner/grid_item_close.html.twig' %}
{% endif %}	
